:root {
  --main-color: #757575;
  --additional-color: #212121;
  --white-text: #ffffff;
  --white-translucent-color: rgba(255, 255, 255, 0.6);
  --focus-color: #2196f3;
  --footer-color: #2f303a;
  --color-links: #AFB1B8;
}

body {
  color: var(--main-color);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;

  /* outline: solid 2px teal; */
}

.section {
  padding: 94px 0px;

  /* outline: solid 2px tomato; */
}

.zero-top-padding {
  padding-top: 0;
}

/* Header */
.header > .container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation > .logo.link {
  margin-right: 93px;
  color: var(--additional-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.first-part-logo {
  color: var(--focus-color);
}

.navigation.list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--additional-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--focus-color);
}

.navigation.list .current-tab {
  color: var(--focus-color);
}

.navigation.list > .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}



.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts .link:hover,
.contacts .link:focus
{
  color: var(--focus-color);
}



.logo-mail, .logo-phone{
  fill: currentColor;
  margin-right: 10px;
}




/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;



  
}

.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  
  
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  display: inline-block;
  min-width: 200;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--white-text);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--additional-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */
.features .title {
  margin-top: 0;
  margin-bottom: 10;

  color: var(--additional-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features.list > li {
  width: 270px;
}

.features .description {
  margin: 0;
}

.thumb{
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #F5F4FA;
  margin-bottom: 30px ;
}

/* Services */
.services.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services.list img {
  display: block;
}

/* Command */

.command.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.command.list img {
  display: block;
  margin-bottom: 30px;
}

.command .name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--additional-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

.command .description {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command.list > .item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command.list > .item {
  padding-bottom: 30px;
}

.social-networks{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;

}


.link-social-networks{
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-links);
  /* Хз как сделать по другому. свг центрируется в кнопке, хз как сделать в ссылке */
  text-align: center;
  padding-top: 12px;

}




.logo-links{
  fill: currentColor;
} 
.link-social-networks:hover,
.link-social-networks:focus{
  color: var(--white-text);
  background-color: var(--focus-color);
}




.command-background {
  background-color: #f5f4fa;
}


/* Partners */


.partners {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;

}


.link-partner {
  display: inline-block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-links);
  border-radius: 4px;
  color: var(--color-links);
  /* Хз как сделать по другому. свг центрируется в кнопке, хз как сделать в ссылке */
  text-align: center;
  padding-top: 16px;

}




.partner-logo {

  fill: currentColor;
}

.link-partner:hover,
.link-partner:focus {
  color: var(--focus-color);
  border-color: var(--focus-color);

}

/* Portfolio */
/* Filter */
.filter.list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}

.filter.list .item:not(:last-child) {
  margin-right: 8px;
}

.filter button {
  display: inline-block;
  min-width: 29px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--additional-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  color: var(--white-text);
  background: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Example */
.portfolio.list img {
  display: block;
}

.portfolio.title {
  text-align: center;
  margin: 0 0;
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--additional-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio.list .description {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio .list {
  margin-bottom: 0px;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio.list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.sign {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}

.footer > .container {
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
  gap: 70px;
}

.center-footer{
  padding-top: 12px;
}

.footer-title{
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-text);
}


.center-footer .link-social-networks {
  background-color: rgba(255, 255, 255, 0.1);
}

.center-footer .link-social-networks:hover,
.center-footer .link-social-networks:focus {
  background-color: #2196f3;
}

.adress {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--white-text);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-mail,
.footer-telephone {
  display: inline-block;
  color: var(--white-translucent-color);
  font-style: normal;
}

.footer-mail:hover,
.footer-telephone:hover,
.footer-mail:focus,
.footer-telephone:focus {
  color: var(--focus-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
